<nav class="navBar">
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropBtn">Services
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="services-content">
                <a href="/boarding">Boarding</a>
                <a href="/grooming">Grooming</a>
                <a href="/training">Training</a>
        </div>
    </div>    
        <a href="">Customers</a>
        <a href="">Booking</a>
        <a href="">Appointments</a>
</nav>  