<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pet's-R-US Assignment</title>
        <link rel="stylesheet" href="/styles/site.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,500&family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header class="header">
            <%- include('./partials/header.ejs'); %>
        </header>

        <section class="hero">
                <div class="backgroundImage"></div>
                <h1 class="landing-title">Pets-R-US</h1>
                <h3>Your one stop shop for all your pet's needs!</h3>
                <a href="./register" class="btn btn-primary" id="btnRegister">Sign up for a free account</a>
            </section> 
        <section>
            <div class="company-info">
                <h1 class="title">Book a Service</h1>
                <div class="service-prices">
                    <div class="card">
                        <div class="card-content">
                            <div class="form">
                                <form action="/appointments" method="post">
                                    <div class="form-field">
                                        <label for="userName">Username</label>
                                        <input type="text" name="userName" id="userName" required autofocus>
                                    </div>
                                    <div class="form-field">
                                        <label for="firstName">First Name</label>
                                        <input type="text" name="firstName" id="firstName" required autofocus>
                                    </div>
                                    <div class="form-field">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" name="lastName" id="lastName" required autofocus>
                                    </div>
                                    <div class="form-field">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email" required autofocus>
                                    </div>
                                    <div class="form-field">
                                        <label for="service">Select Service</label>
                                        <select name="service" id="service" class="drop-down-menu" required>
                                            <% services.forEach((service) => { %>
                                            <option value="'<%= service.value %>'"><%= service.text %></option>
                                            <% }) %>
                                            </select>
                                    </div>
                                    <div class="form-field">
                                        <input type="submit" value="Book Service" class="btn btn-primary" ></input>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <%- include('./partials/footer.ejs'); %>
        </footer>
    </body>
</html>