html {
    font-family: Arial, Helvetica, sans-serif;
    color: #030e12;
}

section {
    display: inline;
}


.navBar {
    background-color: #5bccf6;
    overflow: hidden;
}

.navBar a {
    font-size: 22px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #030e12;

}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown, .dropBtn {
    font-size: 22px;
    padding: 7px;
    font-weight: 600;
    background-color: inherit;
    outline: none;
    border: none;
    color: #030e12;
    margin: 0;
    
}

.navbar a:hover, .dropdown:hover {
    background-color: orange;
}

.services-content {
    display:none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.services-content a {
    float: none;
    color: #030e12;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.services-content a:hover {
    background-color: orange;
}

.dropdown:hover .services-content {
    display: block;
}

.hero {
    padding: 20px;
}

.hero .backgroundImage {
    background-image: url('../images/landing-pet.jpg');
    background-size: cover;
    width:100%;
    height: 70%;
    position:absolute; 
    z-index: -1; 
}

.hero h1 {
    padding-left: 40px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 100px;
    font-family: 'Quicksand', Arial, sans-serif;
}

.hero h3 {
    font-size: 25px;
    color: #4a4a4a;
    padding-left: 40px;
    margin-top: -40px;
}


.title {
    font-size: 60px;
    text-align: center;
    font-family: "open sans", Arial, sans-serif;

}

.dotted {
    border-top: 5px dotted orange;
    text-align: center;
    width: 50%;
    margin-top: -50px;  
    margin-bottom: 50px;
} 

.company-info {
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
}
.company-info p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    
}

.company-info .info-grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    column-gap: 75px;

}

.info-grid .grid-1, .info-grid .grid-2, .info-grid .grid-3 {
    text-align: center;
}

.location-container {
 background-color: #cff2ff;
 margin: auto;
 width:80%;
 padding: 30px;
}

.location-container .title {
    padding-top: 20px;
}


.locationContent {
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    column-gap: 80px;
}

@media (max-width: 800px) {
    .locationContent {
       flex-direction: column;
    }
}

.locationAddress {
    font-size: 25px;
    text-align: center;
}

.card {
    background-color: #fcde67;
    text-align: center;
    margin: auto;
    padding: 20px 50px;
    box-shadow: 0 8px 16px 0 rgba(49, 33, 17, 0.2)
}
    
.card-title {
    font-family: "open sans", Arial, sans-serif;
    font-size: 30px;
}

.card-content {
    font-size: 18px;
    padding-left: 20px;
    padding-bottom: 20px;
    
}

.dog-week-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.dog-content {
    font-size: 20px;
    text-align: center;
    padding:30px;
}

.hr-solid {
    border-top: 5px solid #3dc4f5;
    text-align: center;
    width: 80%; 
}

.testimonial-container {
    padding: 20px;
    margin-left: 35px;
    margin-right: 35px;
    text-align: center;
    
}

.testimonials .quote {
    font-size: 20px;
}

.testimonials .author {
    font-size: 22px;
    margin-top: -10px;
}

.contact-container {
    background-color: #cff2ff;
    padding: 20px;
    width: 80%;
    margin: auto;

}

.grooming-container {
    margin-top: 240px;
}

.contact-container p {
    font-size: 25px;
    text-align: center;
}

footer {
    margin-top: 20px;
    background-color: #3dc4f5;
    padding: 0.5px;
    text-align: right;
    color: #f9feff;
}
footer a {
    color: #fcde67;
    padding-right: 20px;
}


.groom-content {
    font-family: "open-sans", Arial, sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 20px 80px;
    margin-bottom: 60px;
}


.services-menu {
    background-color: #cff2ff;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    padding: 0px 30px 20px 30px;
    margin-bottom: 60px;
}
.services-menu h4 {
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Quicksand', Arial, sans-serif;
    padding-bottom: 30px;
}

.services-menu p {
    font-size: 20px;
    margin-top: -50px;
    padding-bottom: 20px;
}

.service-prices {
    margin: auto;
    width: 600px;
    margin-bottom: 100px;
}

.prices .card-title {
    font-size: 35px;
}

.prices p, .prices h4 {
    text-align: center;
}
.boarding {
    margin-bottom: 100px;
}

.ammenities {
    margin: 30px 150px;
    background-color: #cff2ff;
    padding: 20px 40px;
}

.ammenities-title {
    font-size: 22px;
}
    
.ammenities h3 {
    text-align: center;
}

.ammenities p {
    margin-top: -10px;
}

.boardingImages {
    display: flex;
    justify-content: center;
}

.boarding-images {
    float: left;
    max-width: 33.33%;
    padding: 15px;
}

.concernList {
    margin-top: -50px;
    text-align: center;

}

.trainList {
    display: inline-block;
    text-align: left;
    font-size: 18px;
    flex: 50%;
    margin-left: 20px;

}

.trainList li {
    padding-bottom: 10px;
    text-transform: uppercase;
}

.trainers {
   background-color: #cff2ff;
   margin: 20px 90px;
   background-color: #cff2ff;
   padding: 20px 40px;
} 

.trainers h3 {
    font-size: 40px;
    text-align: center;
} 


.trainer-content {
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: center;
}

@media (max-width: 800px) {
    .trainer-content {
        flex-direction: column;
        justify-content: center;
    }
}

.trainer-content h4 {
    text-align: center;
    font-size: 30px;
    margin-bottom: -3px;
}

.trainer-bio {
    text-align: center;
    font-size: 20px;
    padding: 0px 20px 40px 20px;
}

.training-images {
    width: 500px;
    padding: 30px 40px;

}

@media (max-width: 800px) {
    .training-images {
       margin-left: -15px;
        width: 90%;
    }
}

.prices h2 {
    text-align: center;
    font-size: 40px;
    font-family: "open sans", Arial, sans-serif;
    margin-bottom: 50px;
}

.trainer-content .card {
    margin: 20px;
    width: 33.3%;
}

@media (max-width: 800px) {
    .trainer-content .card {
        margin: auto;
        margin-bottom: 30px;
    }
}


